body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem
}

#buttons {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

button {
  border: none;
  border-radius: 2rem;
  width: clamp(9rem, 15vw, 20vw);
  height: clamp(2.5rem, 5vh, 10vh);
  font-weight: 700;
  transition: translate 10s;
}

button:active {
  translate: 0rem 20rem;
}

#restart-btn {
  background-color: rgb(253, 162, 20);
  color: white;
  transition: background-color 0.5s;
}

#restart-btn:hover {
  background-color: rgb(253, 220, 20);
}


h1 {
  font-size: clamp(2.5rem ,4vw, 8vw);
  align-items: center;
  margin-top: 1rem;
}

#cells {
  display: grid;
  justify-content: space-evenly;
  row-gap: 3vw;
  margin-top: 1rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.5rem, 15vw, 90%);
  font-family: 'Courier New', Courier, monospace;
  background-color:wheat;
  width: clamp(3rem, 8vh, 15rem);
  height: clamp(3.5rem, 8vh, 25vh);
  border-radius: 50%;
}


.cell-overlay {
  position: absolute;
  width: clamp(3rem, 8vh, 15rem);
  height: clamp(3.5rem, 8vh, 25vh);
  border-radius: 50%;
  background-color: blue;
  transition: width 0.2s, height 0.2s;
}

.cell-overlay-active {
  width: 0;
  height: 0;
}